*{
    box-sizing: border-box;
}
body{
    font-family: Helvetica;
}
header{
    display: flex;
    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}
a:hover{
    color: red;
}
#me{
    display: flex;
    justify-content: center;
}
img.me{
    width: auto;
    height: auto;
}
#about{
    width: auto;
    height: auto;
    padding: 10px
}