*{
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
header{
    display: inline;
    width: 100%;
    height: auto;
    text-align: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 600;
}
a:hover{
    color: red;
}
#main{
    width: 100%;
    display: flex;
    margin: 5% 0;
}
#me{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 25%;
    justify-content: space-between;
}
img.me{
    border-radius: 50%;
    box-shadow: 5px 5px 5px gray;
    margin-top: 5%;
    margin-left: 180px;
}
ul{
    width: 100%;
}
li{
    display: inline-block;
    width: 20%;

}
li a{
    font-size: 24px;
    text-shadow: 2px 2px 2px whitesmoke;
}
#about{
    justify-content: center;
    display: flex;
    align-items: center;
}
#about p{
    font-size: 20px;
    width: 50%;
    text-align: center;
}
.projects{
    text-align: center;
    height: auto;
    display: inline;
}
h2{
    text-align: center;
    padding: 20px 0;
}
.renai{
    display: flex;
    justify-content: center;
    width: 33%;
}
.project1{
    width: 33%;
    height: auto;
    box-shadow: 5px 5px 5px gray;
}
.project2{
    width: 33%;
    height: auto;
}
.project3{
    width: 33%;
    height: auto;
}
#contact{
    width: 100%;
    height: auto;
    display: flex;
}
.para{
    width: 50%;
}
.para p{
    text-align: center;
    margin-top: 20%;
    font-size: 24px;
}
.description{
    text-align: center;
    font-size: 24px;
}
.submital{
    width: 50%;
    height: auto;
}
#textarea{
    position: relative;
    font-size: 18px;
}

#button{
    display: flex;
    justify-content: center;
}

#submit{
    width: 125px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
}